.drawpad {
    border: 1px solid black;
    height: 400px;
    width: 400px;
    display:block;
}

.drawpad-button {
    background-color: blueviolet;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.picture {
    border: 2px solid burlywood;
}